{% extends 'home_page/base.html' %}
{% load static %}

{% block content %}

            <img class="rounded mx-auto d-block" src="{% static 'images/orwell.jpg' %}">
            <br>
            <br>
            <div class="about-section">
              <h1>CURRENT WALL OF SHAME</h1>
              <p>The elected officials depicted below are currently under scrutiny for their actions</p>
              <p>Click the links below to learn more and find their relevant contact information</p>
            </div>
            
            <h2 style="text-align:center">These people deserve to be prosecuted</h2>
            <div class="row">
              <div class="column">
                <div class="card">
                  <img src="{% static 'images/b_kemp.jpg' %}" alt="Brian Kemp" style="width:100%">
                  <div class="container">
                    <h2>Brian Kemp</h2>
                    <p class="title">Governor of Georgia</p>
                    <p>Affiliation: Republican Party</p>
                    <p><button class="button">View Profile</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="{% static 'images/rich_b.jpg' %}" alt="Richard Burr" style="width:100%">
                  <div class="container">
                    <h2>Richard Burr</h2>
                    <p class="title">Senator from North Carolina</p>
                    <p>Affiliation: Republican Party</p>
                    <p><button class="button">View Profile</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="{% static 'images/greg_g.jpg' %}" alt="Greg Gianforte" style="width:100%">
                  <div class="container">
                    <h2>Greg Gianforte</h2>
                    <p class="title">Representative from Montana</p>
                    <p>Affiliation: Republican Party</p>
                    <p><button class="button">View Profile</button></p>
                  </div>
                </div>
              </div>
            </div>
            {% endblock %}