{% extends 'home_page/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <h1>Database Of Officials</h1>
        <div class="row">
            <form class="col-md-4">
                <label>Search or select a category</label>
                <select class="form-control select2">
                   <option>Select</option> 
                   <option>Governors</option> 
                   <option>Senators</option> 
                   <option>Representatives</option> 
                   <option>Judges</option> 
                   <option>Unelected Officials</option> 
                </select>
            </form>
         </div>
    <script>
        $('.select2').select2();
    </script>
      <br>
  <p>Click on a member below to see details</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Fullname</th>
        <th>State</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}